<header class="header js-header">
    <div class="container">
        <div class="logo">
            <a href="#home">addis <span>cleaning service</span></a>
        </div>
        <button type="button" class="nav-phone js-nav-phone">
            <i class="fa-solid fa-phone"></i> +251-936-******
        </button>
        <button type="button" class="nav-toggler js-nav-toggler">
            <span></span>
        </button>
        <nav class="nav js-nav">
            <ul>
                <li><a href="#home">home</a></li>
                <li><a href="#about">about us</a></li>
                <li><a href="#services">services</a></li>
                <li><a href="#pricing">pricing</a></li>
                <li><a href="#contact">contact</a></li>

                <li><a class="login" href="{% url 'authentication:login' %}">login</a></li>

                <li>
                    <div class="style-switcher-item">
                        <label class="form-switch">
                            <span>Dark Mode</span>
                            <input type="checkbox" class="js-dark-mode">
                            <div class="box"></div>
                        </label>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>