{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block link %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style-switcher.css' %}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/register.css' %}" class="css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="page-wrapper">
            {% include 'partials/_headbar2.html' %}
        </div><br><br><br><br>
        <div class="wrapper">
            <h2>Payment Form</h2>
            {% include 'partials/_messages.html' %}
            <form method="POST">
                {% csrf_token %}
                <h4>Account</h4>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" name="name" id="nameField" placeholder="Full Name" class="name" required >
                        <i class="fa fa-user icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="text" name="nick" id="nickField" placeholder="Nick Name" class="name" required>
                        <i class="fa fa-user icon"></i>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="email" name="email" id="emailField" placeholder="Email Adress" class="name" required>
                        <i class="fa fa-envelope icon"></i>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <h4> Date of Birth</h4>
                        <input type="number" name="date" placeholder="DD" class="dob">
                        <input type="number" name="month" placeholder="MM" class="dob">
                        <input type="number" name="year" placeholder="YYYY" class="dob">
                    </div>
                    <div class="input-box">
                        <h4> Gender</h4>
                        <input type="radio" name="gender" value="Male" id="b1" class="radio" checked>
                        <label for="b1">Male</label>
                        <input type="radio" name="gender" value="Female" id="b2" class="radio">
                        <label for="b2">Female</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <h4> Service Type</h4>
                        <input type="radio" name="price" value="Basic" id="p1" class="radio" checked>
                        <label for="p1" style="width: 30%;">Basic</label>
                        <input type="radio" name="price" value="Standard" id="p2" class="radio">
                        <label for="p2" style="width: 30%;">Standard</label>
                        <input type="radio" name="price" value="Premium" id="p3" class="radio">
                        <label for="p3" style="width: 30%;">Premium</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <h4>Payment Details</h4>
                        <input type="radio" name="pay" value="Credit" id="bc1" class="radio" checked>
                        <label for="bc1"><span><i class="fa fa-cc-visa"></i> Credit Card</span></label>
                        <input type="radio" name="pay" value="Paypal" id="bc2" class="radio">
                        <label for="bc2"><span><i class="fa fa-cc-paypal"></i> Paypal</span></label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="number" name="card" placeholder="Card Number" class="name" required>
                        <i class="fa fa-credit-card icon"></i>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="number" name="cvc" placeholder="Card CVC" class="name" required>
                        <i class="fa fa-user icon"></i>
                    </div>
                    <div class="input-box">
                        <input type="number" name="datee" placeholder="DD" class="dob">
                        <input type="number" name="monthe" placeholder="MM" class="dob">
                        <input type="number" name="yeare" placeholder="YYYY" class="dob">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <button type="submit" name="submit" class="submit-btn">PAY NOW</button>
                    </div>
                </div>
            </form>
        </div><br><br><br><br>
        {% include 'partials/_footbar.html' %}

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/payment.js' %}"></script>
        {% endblock %}
    </body>
</html>